.wrapper {
    display: flex;
    flex-direction: row;
    /* Main Axis */
    justify-content: center;
    /* Cross Axis */
    align-content: center;
    /* align-items: center; */
    background: peachpuff;
    height: 100vh;
    flex-wrap: wrap;
}

.box {
    width: 150;
    height: 150;
    display: flex;
    background: peru;
    color: powderblue;
    font-size: 50;
    justify-content: center;
    align-items: center;
}
