.grid {
    display: grid;
    background-color: chocolate;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 50px);
    place-content: space-around start;
    height: 500px;
}

.header {
    background: darkkhaki;
}

.content {
    background: cadetblue;
}

.nav {
    background: cornflowerblue;
}

.footer {
    background: yellowgreen;
}
