.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* place-items: center stretch; */
    /* place-items: end stretch; */
    /* place-items: start stretch; */
    place-items: stretch start;
    height: 100vh;
}

.header {
    background: darkkhaki;
}

.content {
    background: cadetblue;
}

.nav {
    background: cornflowerblue;
}

.footer {
    background: yellowgreen;
}
